<div id="<%= dom_id(question) %>" class="question">
  <%= turbo_stream_from dom_id(question) %>

  <p class="user-question"><%= question.user_question %></p>

  <% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML) %>
  <p class="ai-answer"><%= raw markdown.render(question.ai_answer || "...") %></p>
</div>
