// Specific CSS for your home-page
// .logo-controller {
//   width: 100%;
//   text-align: center;
//   margin-top: 20px;

//   img {
//     width: 350px;
//   }
// }
.title-text {
  position: absolute;
  z-index: 25;
  width: 100%;
  padding-top:50px;
  display: flex;
  justify-content: center;
}

.instructions {
  position: absolute;
  z-index: 25;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 190px;
}

.call-action-container {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding-top: 310px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.call-action {
  width: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

// .action-logo {
//   padding-left: 3px;
// }

.fa-magnifying-glass{
  color: $purple;
  opacity: .4;
  font-size: 50px;
  padding-bottom: 10px;
  padding-top: 0px;
}

.fa-gamepad  {
  color: $purple;
  opacity: .4;
  font-size: 50px;
}

.fa-comment {
  color: $purple;
  opacity: .4;
  font-size: 50px;
}

.fa-star {
  color: $purple;
  opacity: .4;
  font-size: 50px;
}

.action-text {
  display: flex;
  // padding-left: 30px;
}


.top-background {
  background-color: $black;
  width: 100%;
  height: 300px;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: absolute;
  z-index: 20;
}

.bottom-background {
  background-color: $blue;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 1000px;
}
