<div class="container my-5" style="width: 90%;">
  <div class="d-flex align-items-center gap-4">

   <div class="card text-center p-3">

        <div class="d-flex flex-column align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="140" height="140" viewBox="0 0 24 24" fill="none" stroke="orange" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>

          <div class="card-body">
            <br>
            <h5 class="card-title">Discover new games</h5>
            <p class="card-text">Find games based on your interests and preferences.</p>
          </div>
        </div>
      </div>

        <div class="card text-center p-3">

        <div class="d-flex flex-column align-items-center">
          <svg id="fi_9232124" xmlns="http://www.w3.org/2000/svg" width="140" height="140" viewBox="0 0 32 32" fill="orange">
            <path d="m23.331 10h-14.662c-.446.935-.689 1.962-.687 3.029l.005 4.971h4.014c0-1.657 1.343-3 3-3h2c1.657 0 3 1.343 3 3h4.014l.005-4.971c.002-1.067-.241-2.094-.687-3.029z"></path>
            <path d="m7.998 30h16.004l.01-10h-4.012c0 1.657-1.343 3-3 3h-2c-1.657 0-3-1.343-3-3h-4.012z"></path>
            <path d="m26.019 13.032-.005 4.968h3.986v-2c0-2.77-1.88-5.095-4.431-5.786.293.898.452 1.845.45 2.817z"></path>
            <path d="m5.986 18-.005-4.969c-.002-.972.157-1.919.45-2.817-2.552.69-4.431 3.016-4.431 5.786v2z"></path>
            <path d="m26.012 20-.01 10h.998c1.657 0 3-1.343 3-3v-7z"></path>
            <path d="m5.988 20h-3.988v7c0 1.657 1.343 3 3 3h.998z"></path>
            <rect height="4" rx="1" width="4" x="14" y="17"></rect>
            <path d="m16 6c.553 0 1-.448 1-1v-3c0-.552-.447-1-1-1s-1 .448-1 1v3c0 .552.447 1 1 1z"></path>
            <path d="m8.871 7.563c.194.278.505.426.82.426.198 0 .398-.059.572-.181.453-.317.562-.94.246-1.393l-1.721-2.458c-.316-.453-.942-.562-1.393-.246-.453.317-.562.94-.246 1.393l1.721 2.458z"></path>
            <path d="m22.309 7.989c.315 0 .626-.148.82-.426l1.721-2.458c.316-.453.207-1.076-.246-1.393-.45-.316-1.076-.207-1.393.246l-1.721 2.458c-.316.453-.207 1.076.246 1.393.174.122.374.181.572.181z"></path>
          </svg>

          <div class="card-body">
            <br>
            <h5 class="card-title">Build your collection</h5>
            <p class="card-text">Save your owned games, create a wishlist of games you want to play.</p>
          </div>
        </div>
      </div>

        <div class="card text-center p-3">

        <div class="d-flex flex-column align-items-center">
          <svg id="fi_12122375" xmlns="http://www.w3.org/2000/svg" width="140" height="140" viewBox="0 0 64 64" fill="orange" data-name="Layer 1">
            <path d="m26.05 21.94c.67.21 1.32.47 1.96.75.17-8.68 7.27-15.69 15.98-15.69s16 7.18 16 16c0 3.72-1.3 7.34-3.67 10.2-.28.33-.31.81-.07 1.17l2.62 4.13-6.66-1.48c-.23-.05-.48-.02-.69.09-2.3 1.23-4.9 1.88-7.52 1.88-1.45 0-2.85-.21-4.18-.57.09.69.14 1.39.16 2.1 1.3.3 2.64.47 4.02.47 2.82 0 5.62-.67 8.13-1.94l8.66 1.92c.07.02.14.02.22.02.32 0 .63-.16.82-.43.23-.33.24-.77.03-1.11l-3.52-5.56c2.38-3.12 3.68-6.96 3.68-10.9 0-9.93-8.07-18-18-18s-17.39 7.51-17.95 16.94z"></path>
            <path d="m36 16h16v2h-16z"></path>
            <path d="m36 22h16v2h-16z"></path>
            <path d="m40 28h12v2h-12z"></path>
            <path d="m15.69 37h-.46l-1.05 4h2.57z"></path>
            <path d="m11.54 56.89c2.52 1.35 5.4 2.11 8.46 2.11 9.94 0 18-8.06 18-18s-8.06-18-18-18-18 8.06-18 18c0 4.36 1.55 8.36 4.13 11.47l-4.13 6.53zm10.92-11.89h2.5v-8h-2.5v-2h7v2h-2.5v8h2.5v2h-7zm-8.97-9.25c.12-.44.51-.75.97-.75h2c.45 0 .85.31.97.75l2.96 11.25h-2.07l-1.05-4h-3.62l-1.05 4h-2.07z"></path>
          </svg>

          <div class="card-body">
            <br>
            <h5 class="card-title">Ask the critic</h5>
            <p class="card-text">Get game recommendations from our AI game expert.</p>
          </div>
        </div>
      </div>

      <div class="card text-center p-3">

        <div class="d-flex flex-column align-items-center">
          <svg id="fi_7927801" xmlns="http://www.w3.org/2000/svg" width="140" height="140" viewBox="0 0 512 512" fill="orange">
            <g>
              <path d="m220.151 156.796 35.849-14.863 35.85 14.863c4.803 1.983 10.319 1.356 14.56-1.72 4.22-3.071 6.54-8.121 6.13-13.322l-3.05-38.687 25.21-29.515c3.39-3.961 4.47-9.412 2.86-14.373-1.61-4.971-5.69-8.742-10.77-9.952l-37.73-9.062-20.27-33.096c-5.396-9.426-20.185-9.425-25.58 0l-20.27 33.096-37.73 9.062c-5.08 1.21-9.16 4.981-10.77 9.952-1.61 4.961-.53 10.412 2.86 14.373l25.21 29.515-3.05 38.687c-.41 5.201 1.91 10.252 6.13 13.322 4.231 3.06 9.741 3.72 14.561 1.72z"></path>
              <path d="m511.267 118.189c-1.61-4.971-5.69-8.742-10.77-9.952l-37.73-9.062-20.27-33.096c-2.73-4.451-7.57-7.161-12.79-7.161s-10.06 2.711-12.79 7.161l-20.27 33.096-37.73 9.062c-5.08 1.21-9.16 4.981-10.77 9.952-1.61 4.961-.53 10.412 2.86 14.373l25.21 29.515-3.05 38.687c-.41 5.201 1.91 10.252 6.13 13.322 4.23 3.061 9.74 3.721 14.56 1.72l35.85-14.863 35.85 14.863c4.803 1.983 10.319 1.356 14.56-1.72 4.22-3.071 6.54-8.121 6.13-13.322l-3.05-38.687 25.21-29.515c3.39-3.961 4.47-9.412 2.86-14.373z"></path>
              <path d="m123.883 216.947c3.12 0 6.21-.97 8.82-2.86 4.22-3.071 6.54-8.121 6.13-13.322l-3.05-38.687 25.21-29.515c3.39-3.961 4.47-9.412 2.86-14.373-1.61-4.971-5.69-8.742-10.77-9.952l-37.73-9.062-20.27-33.096c-2.73-4.451-7.57-7.161-12.79-7.161s-10.06 2.711-12.79 7.161l-20.27 33.096-37.73 9.062c-5.08 1.21-9.16 4.981-10.77 9.952-1.61 4.961-.53 10.412 2.86 14.373l25.21 29.515-3.05 38.687c-.41 5.201 1.91 10.252 6.13 13.322 4.23 3.061 9.74 3.721 14.56 1.72l35.85-14.863 35.85 14.863c1.85.76 3.8 1.14 5.74 1.14z"></path>
              <path d="m432.58 360.82-17.75 101.73c-4.46 25.47-26.57 44.05-52.42 44.05h-102.37c-7.15 0-14.16-1.43-20.65-4.1-6.49-2.7-12.46-6.64-17.51-11.7-.31-.31-.63-.62-.95-.93v-168.98l.68-.24c14.43-5.18 25.68-16.74 30.44-31.32l8.95-28.64 12.06-38.59c3.55-10.85 15.21-16.76 26.07-13.21 19.88 6.48 32.52 24.96 32.52 44.79 0 4.86-.76 9.8-2.36 14.66l-13.44 44.1h76.07c25.64 0 45.08 23.13 40.66 48.38z"></path>
              <path d="m176.018 512h-69.435c-8.237 0-14.914-6.677-14.914-14.914v-179.825c0-8.237 6.677-14.914 14.914-14.914h69.435c8.237 0 14.914 6.677 14.914 14.914v179.825c0 8.237-6.677 14.914-14.914 14.914z"></path>
            </g>
          </svg>

          <div class="card-body">
            <br>
            <h5 class="card-title">Review games</h5>
            <p class="card-text">Share your thoughts with the community.</p>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>
