.game-info-container {
  display: grid;
}

.game-banner {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.game-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.game-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.game-info-container h2 {
  color: $purple;
  font-size: 20px;
}

.game-title-description {
  position: relative;
  margin: 60px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 60px;
  align-items: start;
}


.game-title-description h1,
.game-title-description .left-column {
  grid-column: 1 / 2;

  .game-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-top: 60px;
    gap: 30px;
  }

}

.game-details {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.game-title-description .btn {
  width: 100%;
}

.light-text {
  color: $purple;
  opacity: 60%;
  font-weight: normal;
  font-size: smaller;
}


.game-title-description .game-rating {
  color: $gray;
  position: absolute;
  transform: skew(-20deg);
  background: $orange;
  border-radius: 5px;
  right: 80px;
  top: -80px;
  width: 60px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
