.search-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
}

.tab-pane {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
}

.game-card {
  overflow: hidden;
  background: $purple;
  // box-shadow: 0 0 15px rgba(255, 255, 255, 0.29);
  border-radius: 15px;
}

.game-card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.game-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: $gray;
  line-height: 140%;
}

.game-card h3 {
  font-size: 12px;
  margin: 0;
  color: $gray;
  line-height: 140%;
}


.game-card p {
  color: $gray;
}


.game-card .game-card-details {
  padding: 16px;
}

.game-card-details .game-card-rating {
  color: $gray;
  position: absolute;
	transform: skew(-20deg);
	background: $orange;
  border-radius: 5px;
  right: 80px;
  top: -30px;
  width: 60px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
