.navbar-lewagon {
  justify-content: space-between;
  background-image: linear-gradient(to right, $purple, $blue);
  padding-left: 15px;
  padding-right: 15px;

  a {
    color: $purple;
    font-weight: 600;
  }

  a:hover {
    color: $orange;
  }

  li {
    align-items: baseline;
  }
}

.logo-complete {
  display: flex;
  flex-direction: row;
  align-items: center;


  .logo-text {
    padding-top: 12px;
    padding-left: 2px;
  }

  .logo-title {
    font-size: 25px;
    color: $black;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 50px;
}

.logout-btn {
  display: none;
  width: 100%;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  // border: 2px solid $orange;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  // background-color: red;
  min-width: 150px;
  max-width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  z-index: 1000;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  padding: 8px 12px;
  text-decoration: none;
  color: $purple;
  display: block;
}

.dropdown-item:hover {
  // background-color: red;
}

.search-bar-nav-container {
  display: flex;
  justify-content: center;
  width: 500px;
  padding-right: 20px;
}

.search-bar-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
}

.search-box-nav {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
}

.search-input-nav {
  transform: skew(-20deg);
  border-radius: 5px;
  border: 2px solid $purple;
  padding: 10px 15px;
  right: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 0;
  transition: width 0.4s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s;
}

.search-btn-nav {
  transform: skew(-20deg);
  border-radius: 5px;
  margin-right: 4px;
  cursor: pointer;
}

.search-box-nav:hover .search-input-nav,
.search-btn-nav:hover + .search-input-nav {
  width: 500px;
  opacity: 1;
  visibility: visible;
}

.btn-warning {
  transform: skew(-20deg);
  border-radius: 5px;
  margin-right: 4px;
  cursor: pointer;
  background-color: none;
  border-color: $purple;
  color: $purple;
}

.btn-warning:hover {
  color: $orange;
  border-color: $orange;
}
