.navbar-lewagon {
  justify-content: space-between;
  background-image: linear-gradient(to right, $purple, $blue);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 50px;
}
