.navbar-lewagon {
  justify-content: space-between;
  background-image: linear-gradient(to right, $purple, $blue);
  padding-left: 15px;
  padding-right: 15px;

  a {
    color: $purple;
    font-weight: 600;
  }

  a:hover {
    color: $orange;
  }

  li {
    align-items: baseline;
  }

}

.logo-complete {
  display: flex;
  flex-direction: row;
  align-items: center;


  .logo-text {
    padding-top: 12px;
    padding-left: 2px;
  }

  .logo-title {
    font-size: 25px;
    color: $black;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 50px;
}

.logout-btn {
  display: none;
  width: 100%;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 150px;
  max-width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  z-index: 1000;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  padding: 8px 12px;
  text-decoration: none;
  color: black;
  display: block;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.logout-btn {
  color: red;
}
