// Import the Bootstrap Variables and Fonts
@import "config/bootstrap_variables";

.container {
  max-width: 1100px;
  margin: auto;
}

h1 {
  text-align: center;
  color: $orange;
  font-size: 32px;
}

h2 {
  color: $gray;
  font-size: 26px;
}

h3 {
  color: $purple;
}

p {
  font-family: $body-font;
  font-size: 14px;
  font-weight: 500;
  color: $purple
}

.game-card {
  background: $gray;
  border-radius: $border-radius-lg;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

  .game-title {
    font-size: 22px;
    color: $yellow;
  }

  .game-genre,
  .game-developer,
  .game-rating,
  .game-year {
    color: white;
    font-size: 14px;
  }

  .btn {
    margin-top: 10px;
  }
}

.footer {
  margin-top: 50px;
  text-align: center;
  padding: 15px;
  background: $gray;
  color: white;
  font-size: 14px;
}
