// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/home";
@import "components/game-card";
@import "components/game-info-container";
@import "components/searchbar";
@import "devise";


h1 {
  color: $orange;
  font-size: 32px;
}

h2 {
  color: $purple;
  font-size: 26px;
}

h3 {
  font-family: $body-font;
  font-size: 18px;
  font-weight: 700;
}

p {
  font-family: $body-font;
  font-size: 18px;
  font-weight: 400;
  color: white;
}

a {
  text-decoration: none;
}

// Code to increase the prominence of flash messages
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;  /* Keep fully visible for most of the duration */
  }
  100% {
    opacity: 0;
  }
}

.flash-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  padding: 15px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  z-index: 1000;
  text-align: center;
  max-width: 400px;
  width: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  animation: fadeOut 2s ease-in-out forwards;
}

.notice {
  background-color: #4CAF50;
  color: white;
}

.flash-alert {
  background-color: #FF5733;
  color: white;
}


.login-prompt {
  font-size: 14px;
  color: #FFC65A;
  margin-top: 10px;
  text-align: center;
}
